//Colors

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-med: #2998ff;
$color-tertiary: #5643fa;
$color-tertiary-light: #2c94ea;
$color-tertiary-dark: #0020A3;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

//Font Sizes

$default-font-size: 1.6rem;

// Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Borders

$border-radius-small: 3px;
$border-radius-std: 5px;
$box-shadow-light: 0 1rem 2rem rgba($color-black, .1);
$box-shadow-std: 0 1.5rem 4rem rgba($color-black, .15);
$box-shadow-dark: 0 1.5rem 4rem rgba($color-black, .5);